@import '@/assets/styles/tools/mixins';

.intro {
  @include _576 {
    padding: rem(175) 0 0;
  }

  position: relative;
  overflow: hidden;
  padding: rem(75) 0 0;
  color: #fff;
  background: var(--color-black);
  &__content {
    @include _576 {
      padding-bottom: rem(175);
    }

    padding-bottom: rem(75);
    text-align: center;
  }
  &__title {
    @include _576 {
      font-size: rem(58);
    }
    @include _1200 {
      font-size: rem(64);
    }

    font-family: 'Rubik Mono One', serif;
    font-size: rem(46);
    font-weight: 100;
  }
  &__description {
    font-size: rem(26);
  }
  &__fun {
    margin-top: rem(6);
    font-size: rem(14);
  }
  &__line {
    @include _1200 {
      width: 10%;
    }

    width: 20%;
    height: rem(2);
    margin: rem(15) auto;
    background: var(--color-white);
    border-radius: 2px;
  }
  &__circle {
    @include _1200 {
      width: 100%;
      animation: intro-rotate 80s infinite linear;
    }

    position: absolute;
    top: 100%;
    left: 50%;
    max-width: 225%;
    opacity: 0.08;
    transform: translate(-50%, -50%);
    animation: intro-rotate 40s infinite linear;
  }
  &__diagonal {
    min-height: rem(100);
    background: var(--color-lightyellow);
    clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
  }
  @keyframes intro-rotate {
    0% {
      transform: translate(-50%, -50%) rotate(0);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
}
