@font-face {
  font-family: 'Comfortaa';
  src: url('~assets/fonts/comfortaa/Comfortaa-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('~assets/fonts/comfortaa/Comfortaa-Bold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('~assets/fonts/oswald/Oswald-Bold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik Glitch';
  src: url('~assets/fonts/rubik/RubikGlitch-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik Mono One';
  src: url('~assets/fonts/rubik/RubikMonoOne-Regular.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
