@import '@/assets/styles/tools/mixins';

.card {
  display: flex;
  flex-direction: column;
  padding: rem(24) rem(12);
  background: var(--color-lightyellow);
  border-radius: var(--border-radius-sm);
}
