@import '@/assets/styles/tools/mixins';

.switchcards {
  background: var(--color-lightyellow);
  &__title {
    text-align: right;
    &::before {
      content: '';
      position: absolute;
      right: 0;
      bottom: rem(-10);
      width: rem(125);
      height: rem(5);
      background: var(--color-black);
      border-radius: rem(10);
    }
    &::after {
      content: '';
      position: absolute;
      top: rem(-35);
      right: rem(0);
      width: rem(15);
      height: rem(15);
      background: var(--color-black);
      border-radius: 50%;
    }
  }
  &__description {
    margin-bottom: rem(16);
    font-size: rem(16);
    font-weight: 600;
  }
  &__top {
    display: flex;
    flex-direction: column;
    margin-top: rem(64);
    margin-bottom: rem(35);
    &-wrapper {
      @include _576 {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
      }
      @include _768 {
        grid-template-columns: repeat(3, 1fr);
      }
      @include _992 {
        grid-template-columns: repeat(4, 1fr);
      }
      @include _1200 {
        grid-template-columns: repeat(5, 1fr);
      }

      display: grid;
      grid-template-columns: 1fr;
    }
  }
}
