@import '@/assets/styles/tools/mixins';

.account_intro {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: rem(150);
  padding: rem(15) 0;
  background: #fde8e8;
  &__title {
    @include _768 {
      font-size: rem(16);
      text-align: center;
    }
    @include _1200 {
      font-size: rem(18);
    }

    font-size: rem(14);
    line-height: 135%;
    text-align: center;
    text-transform: uppercase;
  }
}
