@import '@/assets/styles/tools/mixins';

.footer {
  @include _768 {
    padding: rem(20) 0;
  }

  padding: rem(20) 0;
  color: var(--color-white);
  background: var(--color-black);
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__date {
    font-size: rem(12);
  }
  &__lang {
    display: flex;
    &-icon {
      font-size: rem(12);
      &._line {
        margin: 0 rem(5);
      }
      &._active {
        font-weight: 900;
      }
    }
  }
  &__bottom {
    @include _768 {
      display: none;
    }

    position: fixed;
    left: 0;
    bottom: rem(10);
    width: 100%;
    &-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(100% - rem(30));
      min-height: rem(45);
      margin: 0 auto;
      color: var(--color-black);
      background-color: var(--color-yellow);
      border: none;
      border-radius: var(--border-radius-sm);
      font-size: rem(16);
      font-weight: 900;
      cursor: pointer;
    }
  }
  &._fixed {
    @include _768 {
      padding: rem(20) 0;
    }

    padding: rem(20) 0 rem(64);
  }
}
